@{
    Layout = null;
    ViewBag.Title = "SignUp";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <meta charset='UTF-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/common.css")" rel="stylesheet" />
</head>
<body>
<div id="bd" class="page-wrapper page-wrapper-simple">
    <div id="nonav" class="page-simple">
        <div id="content">
            <h1 class="maintenance-title text-center">Sign Up</h1>

            <div class="big-spacer-bottom">
                <label for="txtUserID" class="login-label">ID</label>
                <input type="text" id="txtUserID" class="login-input" maxlength="255" required placeholder="ID" />
            </div>
            
            <p class="big-spacer-bottom">
                <label for="txtPassword" class="login-label">Password</label>
                <input type="password" id="txtPassword" class="login-input" maxlength="15" required placeholder="Password" />
            </p>
            
            <p class="big-spacer-bottom">
                <label for="txtPasswordConfirm" class="login-label">Password Confirm</label>
                <input type="password" id="txtPasswordConfirm" class="login-input" maxlength="15" required placeholder="Password Confirm" />
            </p>
            
            <p class="big-spacer-bottom">
                <label id="lblPasswordConfirm"></label>
            </p>

            <div>
                <div style="text-align: right; overflow: hidden;">
                    <input type="button" id="btnSignUp" class="btn btn-primary" value="Sign Up" onclick="Page.FnSignUp();" />
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    var Page = {
        FnSignUp: function() {
            if (this.FnCheckUserID() === false) {
                alert('Invalid email');
                return false;
            }

            var validPass = $("#lblPasswordConfirm").text();
            if (validPass === "false") {
                alert('input pass');
                return false;
            }

            var id = $("#txtUserID").val();
            var password = $("#txtPassword").val();
            var param = { userid: id, password: password };
            AjaxUtil.FnCallAjax('@Url.Action("SignUpProc", "User")', param, FnAjaxSuccess, { Run: function() { alert('fail'); } });

            return true;
        },
        FnCheckUserID: function() {
            //var userid = $("#txtUserID").val();
            //var regexExpression = /[a-zA-Z0-9]/;
            ////var re = "/^[_a-z0-9-A-Z-]+(\.[_a-z0-9-A-Z-]+)*@@[a-z0-9-A-Z-]+(\.[a-z0-9-A-Z-]+)*(\.[a-z]{2,4})$/";
            //if (regexExpression.match(userid)) {
            //    return true;
            //}

            //return false;
            var userid = $("#txtUserID").val();
            var param = { userid: userid };
            var result = AjaxUtil.FnReturnAjax('@Url.Action("ValidExistUserId", "User")', param);
            
            return result;
        }
    };

    var FnAjaxSuccess = {
        Run: function (data) {
            if (data.length === 2 && data[0] === true) {
                location.href = '@Url.Action("SignMailConfirm", "User")?userid=' + data[1];
            } else {
                alert('fail');
            }
        }
    };

    $(function () {
        $("#txtPassword").on('input',
            function () {
                var confirmPass = $("#txtPasswordConfirm").val();

                if (confirmPass.length === 0 || confirmPass !== $(this).val()) {
                    $("#lblPasswordConfirm").text("Passwords do not match.");
                } else {
                    $("#lblPasswordConfirm").empty();
                }
            });

        $("#txtPasswordConfirm").on('input',
            function () {
                var password = $("#txtPassword").val();

                if (password.length === 0 || password !== $(this).val()) {
                    $("#lblPasswordConfirm").text("Passwords do not match.");
                } else {
                    $("#lblPasswordConfirm").empty();
                }
            });

    });
</script>

